*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff;
    padding: 30px 20px;
    font-family: 'Anton', sans-serif;
}
h1{
    margin-bottom: 30px;
}
button{
    width: 7rem;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
button:hover{
    cursor: pointer;
    background-color: hsl(229, 100%, 89%);
}